body {
    background-color: #e57373;
}

.container {
    background-color: #ffffff;
}

.header {
    text-align: center;
    color: white;
}

.collection a.collection-item {
    color: #546e7a;
}

.score-calculated {
    font-size: 72px;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #546e7a;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    background-color: #546e7a;
}